.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.register-form {
  width: 300px;
}

.card {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.p-inputgroup {
  margin-bottom: 15px;
}

.p-inputgroup-addon {
  background-color: #f5f5f5;
}

input[type="email"],
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.register-button {
  width: 100%;
}

.p-button.p-button-success {
  background-color: darkcyan;
  color: #fff;
  transition: background-color 0.3s;
}

.p-button.p-button-success:hover {
  background-color: darkblue;
}
