<div class="mb-3">
  <p-button type="button" icon="pi pi-chevron-left" (click)="prev()" [disabled]="isFirstPage()" styleClass="p-button-text"></p-button>
  <p-button type="button" icon="pi pi-refresh" (click)="reset()" styleClass="p-button-text"></p-button>
  <p-button type="button" icon="pi pi-chevron-right" (click)="next()" [disabled]="isLastPage()" styleClass="p-button-text"></p-button>
</div>
<div class="card">
  <p-table
    [value]="services"
    [paginator]="true"
    [rows]="5"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[10, 25, 50]"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width:20%">Name</th>
        <th style="width:20%">Cost</th>
        <th style="width:20%">Description</th>
        <th style="width:20%">Provider</th>
        <th style="width:20%">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-service>
      <tr>
        <td>{{ service.name }}</td>
        <td>€{{ service.cost }}</td>
        <td>{{ service.description }}</td>
        <td>{{ service.serviceProvider.name }} ({{ service.serviceProvider.email }})</td>
        <td class="px-4 py-2">
          <button pButton type="button" icon="pi pi-calendar"
                  class="bg-green-500 hover:bg-green-600 text-white px-3 py-1 rounded"
                  (click)="bookService(service.id)">
            Book
          </button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
    </ng-template>
    <ng-template pTemplate="paginatorright">
      <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
    </ng-template>
  </p-table>
</div>
