<div class="centered-container">
  <div class="card">
    <p-table
      styleClass="p-datatable-gridlines"

      [value]="services"
      [paginator]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[10, 25, 50]"
    >
      <ng-template pTemplate="caption">
        <div class="flex table-title">
          My Services
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width:33%">Name</th>
          <th style="width:33%">Cost</th>
          <th style="width:33%">Description</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-service>
        <tr>
          <td>{{ service.name }}</td>
          <td>€{{ service.cost }}</td>
          <td>{{ service.description }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft">
        <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
      </ng-template>
      <ng-template pTemplate="paginatorright">
        <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
      </ng-template>
    </p-table>
  </div>

  <br>
  <br>

  <div class="card">
    <p-table
      styleClass="p-datatable-gridlines"

      [value]="bookings"
      [paginator]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[10, 25, 50]"
    >
      <ng-template pTemplate="caption">
        <div class="flex table-title">
          My Bookings
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width:25%">Description</th>
          <th style="width:25%">Date and time</th>
          <th style="width:25%">Service</th>
          <th style="width:25%">Service provider</th>

        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-booking>
        <tr>
          <td>{{ booking.notes }}</td>
          <td>{{ booking.date_time | date: 'short' }}</td>
          <td>{{ booking.booked_service.name }}</td>
          <td>{{ booking.booked_service.serviceProvider.name }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft">
        <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
      </ng-template>
      <ng-template pTemplate="paginatorright">
        <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
      </ng-template>
    </p-table>
  </div>
</div>
