<div class="centered-container">
  <form [formGroup]="credentialsForm" class="login-form" (ngSubmit)="onSubmit()">
    <div class="card">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-envelope"></i>
        </span>
        <input pInputText type="email" placeholder="Email" formControlName="email" name="email"/>
      </div>

      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-lock"></i>
        </span>
        <input pInputText pPassword type="password" placeholder="Password" formControlName="password"
               name="password"/>
      </div>

      <button pButton type="submit" label="Login" [disabled]="credentialsForm.invalid" class="p-button p-button-success login-button"></button>
    </div>
  </form>
</div>


<p-toast position="bottom-left"></p-toast>
