<div class="centered-container">
  <h1>Welcome to the Services Sharing Application!</h1>
  <div>
    <p>Are you looking for a way to earn some extra money by offering your skills and services? You've come to the right
      place! This web application for the Angular course has resulted in an innovative web application that allows you
      to
      offer and book services. Whether you're a handyman, a caring babysitter, a dog lover, or a gardening enthusiast,
      our app is the perfect platform to share your services.</p>
  </div>
  <div>
    <h2>What Our App Offers:</h2>
    <ul>
      <li><b>Service Platform:</b> Our web application is developed using the Angular front-end framework and provides
        you
        with the opportunity to offer your services, from cleaning and babysitting to gardening and more.
      </li>
      <li><b>User-Friendly:</b> Our intuitive design makes it easy to browse through available services, find your
        favorite
        service, and book it.
      </li>
      <li><b>Different Roles:</b> We support three different roles - guests, users, and admins - each with their own
        specific capabilities.
      </li>
    </ul>
  </div>
  <div>
    <h2>Key Screens:</h2>
    <p><b>Home Screen:</b> Here, you'll find an overview of our platform and the available services. Guests can explore,
      while users need to log in to access their accounts. New users can also register here.</p>
    <p><b>Registration Screen:</b> New users can easily create an account by entering their personal details.</p>
    <p><b>User Management Screen:</b> Registered users can manage their offered services here. Add new services, edit
      existing ones, and remove services that are no longer available.</p>
    <p><b>Service Booking Screen ("The Shop"):</b> Users and guests interested in booking services can search based on
      various criteria. Users can book services by entering relevant details, while guests need to register or log in
      before
      booking.</p>
    <p><b>General Admin Module:</b> Administrators have full control over the platform. They can view, edit, and remove
      all offered services to ensure that only appropriate services are available. Additionally, they can manage users
      and,
      if necessary, deactivate accounts.</p>
  </div>
  <div>
    <p>Our app is designed to make your experience seamless and rewarding, whether you're offering a service or
      booking
      one. We're excited to welcome you to our community of service providers and users working together to achieve
      more.
      Join us and explore the possibilities that our Services Sharing Application has to offer!</p>
  </div>
</div>
