<p-dialog header="Manage this service" [(visible)]="showModal"
          [style]="{width: '50vw', height: '70vh'}" [draggable]="false"
          [modal]="true">

  <div class="formSizeNote" class="center-content">
    <form [formGroup]="serviceForm" (ngSubmit)="onSubmit()">
      <span class="p-float-label">
        <input id="name" pInputText formControlName="name"/>
        <label for="name"><span>Name</span></label>
      </span>
      <span class="p-float-label">
        <input id="cost" pInputText formControlName="cost"/>
        <label for="cost"><span>Cost</span></label>
      </span>
      <span class="p-float-label">
        <p>Description</p>
        <textarea id="description" pInputTextarea formControlName="description"></textarea>
      </span>
      <button pButton type="submit" [disabled]="serviceForm.invalid" class="submit-button">
        Submit
      </button>
    </form>
  </div>
</p-dialog>
<div class="centered-container">
  <div class="card">
    <p-table
      [value]="services"
      [paginator]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[10, 25, 50]"
    >
      <ng-template pTemplate="caption">
        <tr>
          Manage Services
        </tr>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width:20%">Name</th>
          <th style="width:20%">Service provider</th>
          <th style="width:20%">Cost</th>
          <th style="width:20%">Description</th>
          <th style="width:20%">Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-service>
        <tr>
          <td>{{ service.serviceProvider.name }}</td>
          <td>{{ service.name }}</td>
          <td>€{{ service.cost }}</td>
          <td>{{ service.description }}</td>
          <td class="px-4 py-2">
            <button pButton type="button" icon="pi pi-trash"
                    class="bg-red-500 hover:bg-red-600 text-white px-3 py-1 rounded"
                    (click)="deleteService(service.id)">
              Delete
            </button>
            <button pButton type="button" icon="pi pi-pencil"
                    class="bg-blue-500 hover:bg-blue-600 text-white px-3 py-1 rounded"
                    (click)="showEditServiceDialog(service)">
              Edit
            </button>
          </td>

        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft">
        <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
      </ng-template>
      <ng-template pTemplate="paginatorright">
        <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
      </ng-template>
    </p-table>
  </div>
</div>
