.submit-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.submit-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}


.styled-button {
  background-color: darkcyan;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.styled-button:hover {
  background-color: darkblue;
}


form span {
  margin-top: 2rem;
}

textarea {
  resize: vertical;
  height: 6rem;
  border: 1px solid #ccc;
}
