<div class="centered-container">
  <h1>Add a new service:</h1>
  <form [formGroup]="newServiceForm" (ngSubmit)="onSubmit()">
    <div class="p-fluid">
    <span class="p-float-label">
      <input type="text" id="name" pInputText formControlName="name" required>
      <label for="name">Name</label>
    </span>

      <span class="p-float-label">
      <input type="text" id="description" pInputText formControlName="description" required>
      <label for="description">Description</label>
    </span>

      <span class="p-float-label">
      <input type="text" id="cost" pInputText formControlName="cost" required>
      <label for="cost">Cost</label>
    </span>
    </div>
    <div class="p-footer">
      <button type="button" pButton label="Create" [disabled]="!newServiceForm.valid" class="p-button-success"
              (click)="onSubmit()"></button>
    </div>
  </form>

  <br>
  <hr>
  <h1>My Services</h1>
  <div class="card">
    <p-table
      [value]="services"
      [paginator]="true"
      [rows]="5"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[10, 25, 50]"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width:33%">Name</th>
          <th style="width:33%">Cost</th>
          <th style="width:33%">Description</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-service>
        <tr>
          <td>{{ service.name }}</td>
          <td>€{{ service.cost }}</td>
          <td>{{ service.description }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft">
        <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
      </ng-template>
      <ng-template pTemplate="paginatorright">
        <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
      </ng-template>
    </p-table>
  </div>
</div>
